  <!doctype html>
  <html>
 <div>Welcome to {{title}}, login to Facebook to have your conversation sparked!</div>
 <div id="fb_button">
  <fb:login-button scope="public_profile,email,user_events,user_likes,user_photos,user_tagged_places,user_videos" onlogin="checkLoginState();">
</fb:login-button>
</div>
<div id="status">
</div>
<div id="waiting">Connecting to chat server...</div>

<div id="mind">
  <div id="conversation"></div>
  <div id="sparkers" style="display: none;">
  	   <div id="sparkPhoto" class="spark-list"></div>
       <div id="sparkPhotoUp" class="spark-list"></div>
       <div id="sparkVideo" class="spark-list"></div>
       <div id="sparkStatus" class="spark-list"></div>
       <div id="sparkLike" class="spark-list"></div>
       <div id="sparkMap" class="spark-list">
        <h4> Tagged Location </h4>
        <div class="spark">
          <div id="mapTitle"></div>
          <div id="map" style="height: 140px"></div>
          
          <a href="#" target="_blank" id="maplink">
            <img src="images/link-icon.png" class="fblink"/>
          </a>
          </div>
       </div>
  </div>
  <a href="#"><div id="sparkersToggle">Spark!</div></a>
</mind>

<div id="submission">
  <input type="text" placeholder="say something..">
</div>
</html>