  
 <div>Welcome to {{title}}, login to Facebook to have your conversation sparked!</div>
  <fb:login-button scope="public_profile,email,user_events,user_likes,user_photos,user_tagged_places,user_videos" onlogin="checkLoginState();">
</fb:login-button>
<div id="status">
</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
  <div id="sparkers">
  	<div id="sparkPhoto" class="spark"></div>
  	<div id="sparkVideo" class="spark"></div>
  </div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>